.site-logo {
  width: 100%;
  height: 60px;
  background: url('images/tyrrtech logo.png') center top no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
  margin-bottom: 3.5em;
}
/* Custom header for branding above Artwork Finder */
.site-header {
  width: 100%;
  height: 125px;
  background: url('images/tyrrtech.png') center top no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}
